@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.max-width {
    max-width: 1110px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
}
li {
    list-style: none;
}
.main-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.btn {
    padding: 6px 16px 6px 16px;
    background-color: #D01C28;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    outline: none;
    border: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ul {
        display: inline-flex;
    }
    img {
        height: auto;
        width: 100%;
    }
}
.left-container {
    h1 {
        font-family: Poppins;
        font-size: 108px;
        font-weight: 800;
    }
    p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
    }
    .cat-btn {
        padding: 6px 16px 6px 16px;
        border: solid 1px #000000;
        font-size: 16px;
        font-family: Poppins;
        color: #5A5959;
        
    }
    .buttons {
        display: grid;
        gap: 30px;
        grid-template-columns: auto auto;
    }
}